body {
  background-color: #fff;
  margin: 0; }

.CLASS-section-header, .CLASS-lcms-section h1, .lcms-section h1 {
  font-family: 'Cairo', sans-serif;
  font-weight: 200;
  font-size: 34px;
  color: #fff; }
  .CLASS-section-header.center, .CLASS-lcms-section h1.center, .lcms-section h1.center {
    text-align: center; }
  .CLASS-section-header.left, .CLASS-lcms-section h1.left, .lcms-section h1.left {
    text-align: left; }

.CLASS-security-header, .services .services-container .security {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  letter-spacing: 3px;
  text-align: left; }

.CLASS-security-subheader, .services .services-container .service {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 29px;
  text-align: left;
  margin: -12px 0 0 0; }
  .CLASS-security-subheader.green, .services .services-container .green.service {
    color: #36d62e; }
  .CLASS-security-subheader.blue, .services .services-container .blue.service {
    color: #00adfc; }
  .CLASS-security-subheader.pink, .services .services-container .pink.service {
    color: #ff00f5; }

.CLASS-services-body, .services p {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  margin: 0;
  color: #9a9ea6; }

.CLASS-nav-body, .lcms-header .nav-menu li {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
  margin: 0;
  color: #9a9ea6; }

.CLASS-lcms-section, .lcms-section {
  padding: 100px 15vw; }
  .CLASS-lcms-section.primary, .primary.lcms-section {
    background-color: #1e212c; }
  .CLASS-lcms-section.secondary, .secondary.lcms-section {
    background-color: #363d4d; }
  .CLASS-lcms-section.tertiary, .tertiary.lcms-section {
    background-color: #bfebfe; }
    .CLASS-lcms-section.tertiary h1, .tertiary.lcms-section h1 {
      color: #1e212c; }
  @media screen and (max-width: 992px) {
    .CLASS-lcms-section, .lcms-section {
      padding-top: 60px;
      padding-bottom: 60px; } }

.lcms-header {
  background-color: #1e212c;
  padding: 10px 15vw;
  height: 40px; }
  .lcms-header .nav-logo {
    width: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .lcms-header .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right; }
    .lcms-header .nav-menu li {
      display: inline-block;
      margin-top: 9px;
      margin-left: 21px; }
      .lcms-header .nav-menu li a {
        text-decoration: none; }
        .lcms-header .nav-menu li a:hover {
          color: #fff !important;
          transition: color 0.2s ease-in-out; }
        .lcms-header .nav-menu li a:visited {
          color: inherit; }
      .lcms-header .nav-menu li .button-link {
        background-color: #bfebfe;
        border: 1px solid #fff; }

.nav-fixed {
  position: fixed;
  top: 0;
  width: 70%;
  animation: fadeIn 0.5s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.services .services-container .services-image {
  display: inline-block; }
  .services .services-container .services-image img {
    width: 65px;
    height: 65px;
    margin-right: 10px; }

.services .services-container .services-header {
  display: inline-block; }
